<%= form_with model: [:admin, @badge], local: true do |form| %>
  <%= render 'shared/errors', resource: @badge %>
  <div>
    <p>
      <%= form.label :title %> <br>
      <%= form.text_field :title %>
    </p>

    <p>
      <%= form.label :image %> <br>
      <%= form.text_field :image %>
    </p>

    <p>
      <%= form.label :rule_name %> <br>
      <%= form.select :rule_name, Badge::RULES, prompt: true %>
    </p>

    <p>
      <%= form.label :rule_value %> <br>
      <%= form.text_field :rule_value %>
    </p>
    <p><%= form.submit %></p>
  </div>
<% end %>
