<div class="container">
  <h2><%= 'Gists' %></h2>
  <table class="table table-bordered text-center">
    <tr>
      <th><%= 'question' %></th>
      <th><%= 'gist_url' %></th>
      <th><%= 'gist_creator' %></th>
    </tr>
    <%= render @gists %>
  </table>
</div>
