<div class="container">
  <h2><%= t('.all_gists') %></h2>
  <table class="table table-bordered text-center">
    <tr>
      <th><%= t('.gist_question') %></th>
      <th><%= t('.gist_url') %></th>
      <th><%= t('.gist_creator') %></th>
    </tr>
    <%= render @gists %>
  </table>
</div>
