<h1><%= t('.header', title:@test_passage.test.title ) %></h1>

<% if @test_passage.successfully_passed? %>
  <p><%= t('.successed_test', user: @test_passage.user.email) %><br>
    <span style="color: green"><%=t('.score', pass_percentage: @test_passage.percentage_correct_answers) %></span>
  </p>

<% else %>
  <p><%= t('.failed_test', user: @test_passage.user.email) %><br>
    <span style="color: red"><%=t('.score', pass_percentage: @test_passage.percentage_correct_answers) %></span>
  </p>
<% end %>

<%= link_to t('action.back'), tests_path %>
