<nav class="navbar navbar-light bg-light">

  <%= link_to t('nav.header'), root_path, class: 'navbar-brand ms-3' %>
  
  <% if current_user.is_a?(Admin) %>
    <%= link_to t('nav.admin_view'), admin_tests_path, class: "nav nav-link"%><br>                 
  <% end %>

  <span class="navbar-text me-3">
    <% if user_signed_in? %>
      <%= t('nav.welcome', user_email: current_user.email) %> |
      <%= link_to t('nav.logout'), destroy_user_session_path, method: :delete,
                                                              data: {confirm: t('nav.confirm')} %>
    <% else %>
        <%= link_to t('nav.register'), new_user_registration_path %> |
        <%= link_to t('nav.login'), new_user_session_path  %>
    <% end %>
  </span>

</nav>
