<p><b>Question:</b> <%= @question.body %></p>
<p>
<%= link_to 'New Answer', new_admin_question_answer_path(@question)  %>
<ol>
  <%= render @question.answers %>
</ol>
<%= link_to t('action.edit'), edit_admin_question_path(@question) %> |
<%= link_to t('action.back'), admin_test_path(@question.test_id)  %></p>
<%= button_to t('action.delete'), @question, method: :delete, data: { confirm: t('action.confirm') } %>
