<div class="container">
  <h2><%= t('nav.tests') %></h2>

  <p>
    <%= link_to t('.new_test'), new_admin_test_path %>
  </p>

  <table class="table">
    <tr>
      <th class="sort-by-title pointer">
        <%= t('label.title') %>
        <%= octicon 'arrow-up', class: 'text-success hide' %>
        <%= octicon 'arrow-down', class: 'text-success hide' %>
      </th>
      <th><%= t('label.level') %></th>
      <th><%= t('label.questions') %></th>
      <th colspan="2"><%= t('label.actions') %></th>
    </tr>
    <%= render @tests %>
  </table>

  </span>
  
  <span>
    <%= link_to "Gists", admin_gists_path %>
  </span>

</div>
