<div class="container">

  <h2><%= t('nav.tests') %></h2>

  <span>
    <%= link_to t('label.my_badges'), badges_path %>
  </span>

  <table class="table">
    <tr>
      <th class="sort-by-title pointer">
        <%= t('label.title') %>
        <%= octicon 'arrow-up', class: 'text-success hide' %>
        <%= octicon 'arrow-down', class: 'text-success hide' %>
      </th>
      <th><%= t('label.level') %></th>
      <th><%= t('label.questions') %></th>
      <th><%= t('label.start') %></th>
    </tr>
    <%= render @tests %>
  </table>
</div>
